<link rel="stylesheet" type="text/css" href="/css/manager.css">
<div>
    <h1>Bienvenid@ a la vista manager</h1>

    <form action="">
        {{!--  <button style="height: 40px; width: 200px;">Ver usuarios</button> --}}
        <button id="view-users-btn" style="height: 40px; width: 200px;">Ver usuarios</button>
        <button id="delete-inactive-users-btn" style="height: 40px; width: 200px;">Borrar usuarios inactivos</button>
    </form>

    <!-- Aquí se mostrará la tabla -->
    <div id="users-table" class="styled-table"></div>
</div>

<script>
        window.currentUserId = '{{currentUserId}}';
</script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="module" src="/js/manager.js"></script>